.xbox {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  min-width: 0;
  min-height: 0;
}

.segment {
  display: flex;
  box-sizing: border-box;

  min-width: 0;
  min-height: 0;
  max-width: 100%;
}