.left,
.center,
.right {
  display: flex;
  flex-direction: column;
  min-width: 0;
  box-sizing: border-box;
}

.left {
  flex: 1;
  align-items: flex-start;
}

.center {
  width: 100%;
  align-items: center;
}

.right {
  flex: 1;
  align-items: flex-end;
}

[data-v='top'] {
  justify-content: flex-start;
}

[data-v='center'] {
  justify-content: center;
}

[data-v='bottom'] {
  justify-content: flex-end;
}